<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
       
       <bean id="spelChecker" class="com.shar4u.SpellChecker"></bean>
    
  <bean id="texteditor" class="com.shar4u.TextEditor" autowire="constructor">
	<!-- <constructor-arg>
		<ref bean="spelChecker"/>
	</constructor-arg> -->
	<constructor-arg>
		<value>dsasd</value>
	</constructor-arg>
  </bean>                            
</beans>